//- Course header
div.container(*ngIf="this.course")
  div.row
    div.col.s3
      h2 {{ course.data.name }}
      button.btn.btn-waves.floating-effect((click)="saveCourse()") Save Course
    div.col.s3
      h5 Language
      div.divider
      toggle-language((toggleLanguage)="setLanguage($event)")
    div.col.s3
      h5 Visibility
      div.divider
      toggle-course-visibility(
        [course]="course"
        (toggleVisibility)="toggleCourseVisibility($event)")
    div.col.s3
      edit-price(
        [course]="course"
        (changeCourseLength)="setCourseLength($event)"
        (changeCoursePrice)="setCoursePrice($event)")
  div.row
    div.col.s3
      div.input-field
        input(
          name="course-photo"
          id="course-photo"
          type="text"
          [(ngModel)]="coverPhotoUrl"
        )
        label(for="course-photo") Cover Photo
  div.row
    div.input-field
      textarea.materialize-textarea#course-description(
        type="text"
        [class.active]="!!course.data.description"
        [(ngModel)]="course.data.description"
      )
      label(for="course-description") Description*
  div.divider
  
  //- Add Module Section
  div.row
    div.btn-floating.btn-large.waves-effect.waves-light.red((click)="addModule()")
      i.material-icons add
  //- Modules
  div.row(*ngFor="let module of course.data.modules[language]; let i = index")
    module-row(
      [module]="module" 
      [idx]="i" 
      [course]="course" 
      [language]="language"
      (onDeleteModule)="deleteModule($event)")
