form(#form="ngForm")
  //- Course Length
  div#edit-course-length
    h5 Course Length
    div.divider
    p(*ngFor="let length of lengths; let i = index;" )
      input(
        name="course-length"
        type="radio"
        checked="{{ length === course.subscription.length ? 'true' : null }}"
        value="length"
        (click)="setLength(length)"
        id="length-{{i}}")
      label(for="length-{{i}}") {{ lengthTypes[length] }}
  
  //- Course Price
  div#edit-course-price
    div.input-field
      input(
        type="number"
        name="course-price"
        [(ngModel)]="priceCents"
        (change)="setPrice($event)")
      label Price
