div.container
  //- Course Description Header
  div.form
    form(
      novalidate 
      name="createCourseForm"
      #form="ngForm"
      (ngSubmit)="createCourse($event, form)")
      div.row
        //- Course name
        div.col.s6.offset-s3
          div.input-field
            input#create-course-name(
              type="text"
              name="create-course-name"
              [(ngModel)]="course.data.name")
            label(for="create-course-name") Course Name
     
      div.row
        div.col.s6.offset-s3
          button.btn.btn-waves.waves-effect(
            type="submit"
            [disabled]="!course.data.name") Add Modules