div.edit-drip-component
  h3 Editing Drip
  form(novalidate #form="ngForm")
    //- Drip Title
    div.input-field
      input#drip-title(
        type="text"
        name="drip-title"
        [(ngModel)]="drip.title")
      label(for="drip-title") Title
    
    //- Quiz
    div.btn.btn-waves((click)="addQuestionQuiz()" *ngIf="!drip.questionQuiz")
      | Add Multiple Choice Quiz
    div(*ngIf="drip.questionQuiz")
      div.input-field
        textarea#drip-question-quiz.materialize-textarea(
          [(ngModel)]="drip.questionQuiz.question"
          name="drip-question-quiz"
        )
        label(for="drip-question-quiz") Multiple Choice Quiz
        div(*ngFor="let answer of drip.questionQuiz.answers; let i = index;")
          div.input-field
            input(
              name="qq-answer-{{i}}"
              type="text"
              [(ngModel)]="drip.questionQuiz.answers[i]"
            )
        div.btn.btn-waves((click)="addQuestionQuizAnswer()") Add Answer
    //- Drip text
    div.input-field
      textarea(
        [htmlEditor] 
        (onDripText)="editDrip($event)" 
        [dripText]="drip.text")#aom-text-editor
    
    //- Save
    button.btn.btn-waves((click)="persist()") Save
  