div.container
  div.row
    div.col.s3
      img(src="{{ course.data.photos[0].url }}")
    div.col.s6.push-s3
      div.section
        h3.header {{ course.data.name }}
        p {{ course.data.modules.R.length }} module(s) in R
        p {{ course.data.modules.STATA.length }} module(s) in STATA
      //- Name and description
      div.divider
      //- Instructors
      div.section
        h6 Instructors
        div(*ngFor="let instructor of instructors")
          p {{ instructor.fullName() }}
      
      //- Difficulty
      div.section
        h6 Difficulty
        p {{ course.difficulty }}
      
      //- Course description
      div.section
        h6 Course description
        div {{ course.data.description }}
      
      //- Set Language
      div.section
        toggle-language(
          [default]="activeLanguage"
          (toggleLanguage)="setActiveLanguage($event)")
      //- Subscribe
      div.section
        div.btn.btn-waves(
          (click)="startPayment()"
          *ngIf="!subscribing") Subscribe
        div(*ngIf="subscribing")
          div
            h4 Subscribe to {{ course.data.name }}
            div
              h6 Select Course Length
              p
                input(
                  name="selected-annual-course-length"
                  id="selected-annual-course-length"
                  type="radio"
                  (click)="setCourseLength('annual')"
                )
                label(for="selected-annual-course-length") Annual
              p
                input(
                  name="selected-semester-course-length"
                  id="selected-semester-course-length"
                  type="radio"
                  (click)="setCourseLength('semester')"
                )
                label(for="selected-semester-course-length") Semester
            div.divider
            div(*ngIf="card && !state.addingCard")
              h6 Select Card
              p
                input(
                  name="preselected-cc"
                  id="preselected-cc"
                  type="radio"
                  (click)="selectExistingCard(card)")
                label(for="preselected-cc") {{ card.brand }} ending in {{ card.last4 }}
              div.btn.btn-waves(*ngIf="selectedCard && !state.addingCard" (click)="submitSubscription({})") SubmitPayment
            div.btn.btn-waves((click)="addCreditCard()" *ngIf="!state.addingCard") Add Credit Card
            add-credit-card-form(*ngIf="state.addingCard" (onSubmitCard)="onSubmitCard($event)")
      

